* {
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Schibsted Grotesk', sans-serif;
}

.navigation-bar
{
    margin: 20px;
    position: fixed;
    right: 0;
}

#all-navigation-links
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 12px;
    background-color: #f7f7f7;
    padding: 8px;
    text-decoration: none;
    align-items: center;
    font-size: 15px;
}

a.navigation-link  /* this is new */
{
    color:black;
    text-decoration: none;
    font-weight: 500;
}

a.toggle-button-link
{
    color:black;
    text-decoration: none;
    font-weight: 500;
}

.header-image
{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 75%;
}

.header-name
{
    text-align: center;
}


.name
{
    font-weight: 900;
    font-size: 55px;
    margin: 50px 0 0 0;
}

.nicknames
{
    font-style: italic;
    margin: 0 0 25px 0;
    font-size: 15px;
}

.intro-text
{
    width: 880px;
    margin: auto auto 50px auto;
    font-size: 20px;
    text-align: justify;
    text-align-last: left;
}


.hobby
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 35px 0;
}

.hobby-inline
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ecfaff;
    margin: 0 0 38px 0;
}

.hobby-text
{
    margin: 0 50px 0 50px;
}

.hobby-name
{
    font-weight: bold;
    font-size: 40px;
    width: 500px;
    margin: 0 0 10px 0;
}

.hobby-short-description
{
    font-size: 22px;
    margin: 0 0 60px 0;
}

.hobby-view-link
{
    font-size: 20px;
    color: #001B2D;
}

.hobby-thumbnail
{
    overflow: hidden;
    max-width: 450px;
    max-height: 300px;
}

.hobby-view-button
{
    background-color: #001b2d;
    display: inline-block;
    text-align: center;
    padding: 2%;
}

.hobby-view-link
{
    color: white;
}

.hobby-view-link-dark
{
    color: #001B2D;
}

.tiles-productions-background
{
    width: 450px;
    height: 600px;
    object-fit: cover;
    margin: -30% auto auto auto;
}

.design-background
{
    width: 600px;
    height: 500px;
    object-fit: cover;
    margin: -25%;
}

#design-inline
{
    background-color: #fff3f2;
}

.tiles-archive-background
{
    width: 700px;
    height: 600px;
    object-fit: cover;
    margin: -125px 0 0 -50px;
}

.tiles-jam-background
{
    width: 450px;
    height: 500px;
    object-fit: cover;
    margin: -90px 0 0 20px;
}

.hobby-header-image /* this is stupid bad code */
{
    overflow: hidden;
    height: 50vh;
}

#tiles-productions-header
{
    width: 125%;
    height: 475px;
    object-fit: cover;
    margin: -3% auto auto -13%; /* overflow with margins confuses the shit out of me */
}

#designs-header
{
    width: 125%;
    height: 475px;
    object-fit: cover;
    margin: -3% auto auto -13%;
}

.back-link
{
    color: #001B2D;
    font-size: 20px;
}

.hobby-page
{
    margin: auto;
    margin-top: 10px;
    width: 1152px;
}

#hobby-page-description
{
    width: 880px;
}

.hobby-logo
{
    object-fit: scale-down;
    width: 256px;
    height: 256px;
    display: block; /* bitch what? */
    margin: auto;
    margin-bottom: -25px;
}

#tiles-archive-logo
{
    width: 150px;
    height: 150px;
    padding: 5%;
}

.hobby-page-short-description
{
    font-weight: bold;
    font-size: 30;
    text-align: center;
    display: auto;
    margin: 0 0 100px 0;
}

.hobby-page-full-description
{
    text-align: justify;
    text-align-last: left;
    font-size: 18;
    margin: 0 0 75px 0;
}

#tiles-archive-full-description
{
    margin: 0%;
}

.link-in-description
{
    margin: 0 0 75px 0;

}

.embed
{
    margin:auto;
}

